﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f2f2f2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/*LOT BRICK*/
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content .info {
    padding: 15px;
}
.content .price {
    padding: 0px 15px 15px 15px;
    display: flex;
    margin-left: auto;
}
.content .price.main {
    margin-top: auto;
}
.price-box {
    font-size: 16px;
    border-radius: 5px;
    padding: 2px 10px;
    background: #fff1b5;
}

.content .price b.colored {
    border-radius: 5px;
    padding: 2px 10px;
    background: chartreuse;
    color: white;
}

.content .bottom {
    padding: 0px 15px 15px 15px;
    color: grey;
    /*display: flex;
    margin-top: auto;
    /*position: absolute;
    bottom: 0;*/
}

.item__img {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40% 10%;
    background-size: cover;
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #ebebf2;
}

#lots a {
    text-decoration: none;
    color: black;
}

.content > div {
    position: relative;
}

#lots {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}
.col-lg-9 #lots {
    grid-template-columns: repeat(3, 1fr);
}

#lots > div {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    background: white;
}

#lots > div:hover {
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
}

/*OTHER BLOCKS*/
.borders {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0px;
}

.shadows {
    margin-top: 20px;
    padding: 15px 0px;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.1);
    background: white;
}

.auth-form {
    width: 300px;
    margin: 0px auto;
}

.lot-form {
    width: 500px;
    margin: 0px auto;
}

/*CREATE LOT*/
#lot-create {
    padding: 0px 15px;
}

.form-group > p > span {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

label[for="upload"] {
    border: 1px dashed rgb(155, 155, 155);
    cursor: pointer;
    border-radius: 3px;
    padding-top: 0;
}

label[for="upload"] img {
    margin: 30px 50px;
}

#upload[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.bgimg {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.form-groups {
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

/*OVERLAY*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.mymodal {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    border-radius: 10px;
    background: white;
    z-index: 11;
}

/*ACOOUNT TABS*/
.tabs {
    font-size: 0;
}

.tabs > input[type="radio"] {
    display: none;
}

.tabs > div {
    display: none;
    border-top: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
    display: block;
}

.tabs > label {
    font-weight: 500;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-bottom: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 1px;
    margin: 0px;
}

.tabs > label:not(:first-of-type) {
    border-left: none;
}

.tabs > input[type="radio"]:checked + label {
    border-bottom: 2px solid #000000;
    font-weight: 600;
}

/*ADMIN TABS*/
.cats {
    font-size: 0;
}

#content {
    border-top: 1px solid #e0e0e0;
    padding: 10px 15px;
}

.cats > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-bottom: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 1px;
    margin: 0px;
}

    .tabs > label:not(:first-of-type) {
        border-left: none;
    }

.cats > a.checked {
    border-bottom: 2px solid #000000;
    font-weight: 600;
}

/*SEARCH*/
.search input[type="text"] {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
}

.search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 15px;
    height: 42px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


/*OTHER*/
.right {
    float: right;
    text-align: right;
}
.gray, .gray a {
    text-decoration: none;
    color: gray;
}