﻿@model Auction.Models.Category


<div class="overlay"></div>
<div class="form-horizontal mymodal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="text-center">Добавить категорию</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <label class="control-label" for="Name">Наименование: </label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required= "required" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                <label class="control-label" for="ParentCategoryID">Родительская категория: </label>
                    @Html.DropDownListFor(model => model.ParentCategoryID, ViewBag.Categories as SelectList, "Без родителя", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParentCategoryID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group text-center">
                <div class="col-md-12">
                    <hr />
                    @Html.ActionLink("Отмена", "Index", new { tab = "categories" })
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
