﻿@model Auction.Models.Category

<div class="overlay"></div>
<div class="form-horizontal mymodal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 class="text-center">Вы уверены что хотите удалить категорию?</h4>
            <hr />
            <div class="col-md-12">
                <label class="control-label" for="Login">Наименование: </label>
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="col-md-12">
                <label class="control-label" for="Email">Родительская категория: </label>
                @Html.DisplayFor(model => model.ParentCategory.Name)
            </div>
            <div class="form-group text-center">
                <div class="col-md-12">
                    <hr />
                    @Html.ActionLink("Назад", "Index", new { tab = "categories" })
                    <input type="submit" value="Удалить" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>
