﻿@model IEnumerable<Auction.Models.Category>

<p>
    @Ajax.ActionLink("Добавить категорию", "CategoryCreate", new AjaxOptions { UpdateTargetId = "modal" })
</p>
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Родительская категория
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategory.Name)
        </td>
        <td>
            @Ajax.ActionLink("Редактировать", "CategoryEdit", new { id = item.CategoryID }, new AjaxOptions { UpdateTargetId = "modal" }) |
            @Ajax.ActionLink("Удалить", "CategoryDelete", new { id = item.CategoryID }, new AjaxOptions { UpdateTargetId = "modal" })
        </td>
    </tr>
}

</table>
