﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shadows">
    <div class="cats">
        @Html.ActionLink("Лоты", "Index", new { tab = "lots" }, new { @class = ViewBag.Tab == "lots" ? "checked" : "" })
        @Html.ActionLink("Пользователи", "Index", new { tab = "users" }, new { @class = ViewBag.Tab == "users" ? "checked" : "" })
        @Html.ActionLink("Категории", "Index", new { tab = "categories" }, new { @class = ViewBag.Tab == "categories" ? "checked" : "" })
    </div>
    <div id="content">
        @switch (ViewBag.Tab)
        {
            case "lots":
                @Html.Action("Lots")
                break;
            case "users":
                @Html.Action("Users")
                break;
            case "categories":
                @Html.Action("Categories")
                break;
        }
    </div>
</div>

