﻿@model IEnumerable<Auction.Models.Lot>
<p>
    @Html.ActionLink("Добавить", "Create", "Lots")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Изображение
        </th>
        <th>
            Категория
        </th>
        <th>
            Статус
        </th>
        <th>
            Создатель
        </th>
        <th>
            Победитель
        </th>
        <th>
            Начало
        </th>
        <th>
            Конец
        </th>
        <th>
            Начальная цена
        </th>
        <th>
            Текущая цена
        </th>
        <th>
            Блиц-цена
        </th>
        <th>
            Шаг
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="document.location = '/Lots/Details/@item.LotID';" style="cursor: pointer;">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NowPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyNowPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
        </tr>
    }

</table>
