﻿@model Auction.Models.User

<div class="overlay"></div>
<div class="form-horizontal mymodal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center">Пользователь</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)
        <div class="col-md-12">
            <label class="control-label" for="Login">Логин: </label>
            @Html.DisplayFor(model => model.Login)
            @Html.HiddenFor(model => model.Login)
        </div>

        <div class="col-md-12">
            <label class="control-label" for="Email">Email: </label>
            @Html.DisplayFor(model => model.Email)
            @Html.HiddenFor(model => model.Email)
        </div>
        <div class="col-md-12">
            <label class="control-label" for="RoleID">Роль: </label>
            @Html.DropDownListFor(model => model.RoleID, ViewBag.Roles as SelectList, new { @class = "form-control" })
        </div>
        
        <div class="form-group text-center">
            <div class="col-md-12">
                <hr />
                @Html.ActionLink("Отмена", "Index", new { tab = "users" })
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }
</div>

