﻿@model Auction.Models.User

<div class="overlay"></div>
<div class="form-horizontal mymodal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4 class="text-center">Вы уверены что хотите удалить пользователя?</h4>
            <hr />
            <div class="col-md-12">
                <label class="control-label" for="Login">Логин: </label>
                @Html.DisplayFor(model => model.Login)
            </div>

            <div class="col-md-12">
                <label class="control-label" for="Email">Email: </label>
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="col-md-12">
                <label class="control-label" for="Email">Роль: </label>
                @Html.DisplayFor(model => model.Role.RoleName)
            </div>
            <div class="form-group text-center">
                <div class="col-md-12">
                    <hr />
                    @Html.ActionLink("Назад", "Index", new { tab = "users"})
                    <input type="submit" value="Удалить" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>
