﻿@model IEnumerable<Auction.Models.User>

<table class="table">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Email
        </th>
        <th>
            Роль
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Ajax.ActionLink("Редактировать", "UserEdit", new { id = item.UserID }, new AjaxOptions { UpdateTargetId = "modal"}) |
            @Ajax.ActionLink("Удалить", "UserDelete", new { id=item.UserID }, new AjaxOptions { UpdateTargetId = "modal" })
        </td>
    </tr>
}

</table>
