﻿@model Auction.Models.Bet


@using (Html.BeginForm("Create", "Bet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <span>Ставка</span>
        <div class="form-group">
            <div class="col-md-4">
                <div class="input-group">
                    @Html.EditorFor(model => model.BetPrice, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number", min = Model.BetPrice, step = 0.01 } })
                    <span class="input-group-addon">руб.</span>
                </div>
                @Html.ValidationMessageFor(model => model.BetPrice, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.HiddenFor(model => model.LotID)
                <input type="submit" value="Сделать ставку" class="btn btn-default" />
            </div>
        </div>
    </div>
}
