﻿@model Auction.Models.Lot

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="lot-form shadows">
    <div id="lot-create">
        @Html.Action("ShowCategory", new { id = (Guid?)null, method = "create" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/ShowPicOnLoad.js")
}
