﻿@model Auction.Models.Lot

<div class="overlay"></div>
<div class="form-horizontal mymodal text-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h5>Вы уверены что хотите удалить лот?</h5>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                @Html.ActionLink("Назад", "Details", new { id = Model.LotID })
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
