﻿@model Auction.Models.Lot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 shadows">
    <img src="@Html.DisplayFor(model => model.Picture)" class="col-md-4"/>
    <div class="col-md-8">
        <h3>@Html.DisplayFor(model => model.Title)</h3>
        <p class="gray">Время окончания: @Html.DisplayFor(model => model.EndTime)</p>
        <div class="borders">
            <span>Ставок: </span>
            <b>@ViewBag.Bets</b>
            <span> | Время начала: </span>
            <b>@Html.DisplayFor(model => model.StartTime)</b>
            <span> | </span>
            @Html.DisplayFor(model => model.User.Login)
            @if (this.User.Identity.IsAuthenticated && (this.User.Identity.Name == Model.User.Login || this.User.IsInRole("admin")))
            {
                <span id="links" class="right gray">
                    @Html.ActionLink("Редактировать", "Edit", new { id = Model.LotID }) |
                    @Ajax.ActionLink("Удалить", "Delete", new { id = Model.LotID }, new AjaxOptions { UpdateTargetId = "modal" })
                </span>
            }
        </div>
        <div class="col-md-2">
            <span>Цена</span>
            <div>
                <b class="price-box">@Html.DisplayFor(model => model.NowPrice) руб.</b>
            </div>
        </div>
        <div class="col-md-10" id="bet">
            @if (this.User.Identity.IsAuthenticated && Model.Status.Name == "Открыт")
            {
                if (this.User.Identity.Name != Model.User.Login)
                {
                    @Html.Action("Create", "Bet", new { lotID = Model.LotID, betPrice = Model.NowPrice + Model.Step })
                }
            }
            else if (Model.Status.Name == "Закрыт")
            {
                <p class="text-info">Лот продан</p>
            }
            else
            {
                <p class="text-danger">Войдите, чтобы сделать ставку</p>
            }
        </div>
        @if (Model.BuyNowPrice != null)
        {
            <div class="col-md-12">
                <span>Купить моментально: @Html.DisplayFor(model => model.BuyNowPrice) руб.</span>
            </div>
        }
        <hr />
    </div>
    
    <hr />
</div>
<div class="col-md-12 shadows">
    <h4 class="col-md-12">Комментарии</h4>
    <div id="comments" class="col-md-12">
        @if (this.User.Identity.IsAuthenticated)
        {
            @Html.Action("Create", "Comment", new { id = Model.LotID })
        } else
        {
            <p class="text-danger">Войдите, чтобы просматривать и оставлять комментарии</p>
        }
    </div>
</div>
