﻿@model Auction.Models.Lot


@using (Html.BeginForm("Edit", "Lots", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4><b>Редактировать</b></h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-groups">
        <label class="control-label" for="CategoryID">Категория: </label>
        @Ajax.ActionLink((string)ViewBag.Category, "ShowCategory", new { id = ViewBag.ParentCategoryID, method = "edit", lotID = Model.LotID }, new AjaxOptions { UpdateTargetId = "lot-create" })
        @Html.HiddenFor(model => model.CategoryID)
    </div>
    <div class="form-groups">
        <p><span>Выберите изображение</span></p>
        <label class="control-label" for="upload">
            <img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_90197.png" alt="Upload" width="30" height="30">
        </label>
        <img id="uploaded-img" src="@Html.DisplayFor(model => model.Picture)" alt="your image" height="95" />
        <input id="upload" type="file" name="upload" accept=".jpg, .jpeg, .png">
    </div>
    <div class="form-groups">
        <label class="control-label" for="Title">Название *</label>
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required = "required", maxlength = 128 } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-groups">
        <label class="control-label" for="Title">Время окончания торгов *</label>
        <input class="form-control" id="EndTime" max=@ViewBag.TimeMax min=@ViewBag.TimeMin value=@ViewBag.TimeNow name="EndTime" type="datetime-local" required />
        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-groups">
        <label class="control-label" for="StartPrice">Начальная цена *</label>

        <div class="input-group">
            @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number", min = 1, step = 0.01 } })
            <span class="input-group-addon">руб.</span>
        </div>
        @Html.ValidationMessageFor(model => model.StartPrice, "", new { @class = "text-danger" })
    </div>

    <div class="form-groups">
        <label class="control-label" for="BuyNowPrice">Блиц-цена</label>
        <div class="input-group">
            @Html.EditorFor(model => model.BuyNowPrice, new { htmlAttributes = new { @class = "form-control", type = "number", step = 0.01 } })
            <span class="input-group-addon">руб.</span>
        </div>
        @Html.ValidationMessageFor(model => model.BuyNowPrice, "", new { @class = "text-danger" })
    </div>

    <div class="form-groups">
        <label class="control-label" for="Step">Шаг ставки *</label>
        <div class="input-group">
            @Html.EditorFor(model => model.Step, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "number", min = 1, step = 0.01 } })
            <span class="input-group-addon">руб.</span>
        </div>
        @Html.ValidationMessageFor(model => model.Step, "", new { @class = "text-danger" })
    </div>
    @if (this.User.IsInRole("admin"))
    {
    <div class="form-groups">
        <label class="control-label" for="Title">Статус</label>
        @Html.DropDownListFor(model => model.StatusID, ViewBag.Status as SelectList,  new { @class = "form-control"} )
        @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
    </div>
    }
    <div class="form-groups">
        @Html.HiddenFor(model => model.StatusID)
        @Html.HiddenFor(model => model.LotID)
        @Html.HiddenFor(model => model.StartTime)
        @Html.HiddenFor(model => model.Picture)
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/ShowPicOnLoad.js")
}


