﻿@model Auction.Models.Lot

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="lot-form shadows">
    <div id="lot-create">
        @Html.Action("EditLot", new { lotID = ViewBag.LotID })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/ShowPicOnLoad.js")
}