﻿@model IEnumerable<Auction.Models.Lot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="sidebar" class="col-lg-3 shadows">
    @using (Ajax.BeginForm("LotsSearch", "Lots", new AjaxOptions { UpdateTargetId = "lots" }, new { @class = "col-md-12 search", key = "search" }))
    {
        <input type="text" name="name" placeholder="Искать здесь...">
        <input type="submit" value="Поиск" class="btn btn-primary" />
    }
    <div class="col-md-12">
        <h4>Категории</h4>
    </div>
    @Html.Action("CategoryList", "Category", new { id = (Guid?)null })
</div>
<div class="col-lg-9">
    <h2>
        Лоты
    </h2>
    <div id="lots">
        @Html.Action("LotsFind")
    </div>
</div>
