﻿@model IEnumerable<Auction.Models.Lot>

@foreach (var item in Model)
{
    <div>
        <a href="/Lots/Details/@item.LotID">
            <div class="content">
                <div class="img">
                    <div class="item__img" style="background-image: url(@item.Picture.Replace('\\','/'));">
                    </div>
                </div>
                <div class="info">
                    <span>@Html.DisplayFor(modelItem => item.Title)</span>
                </div>
                <div class="price main">
                    <b class="price-box">@Html.DisplayFor(modelItem => item.NowPrice) руб.</b>
                </div>
                @if (item.BuyNowPrice != null)
                {
                    <div class="price">
                        <span>Купить моментально: @Html.DisplayFor(modelItem => item.BuyNowPrice) руб.</span>
                    </div>
                }
                <div class="bottom">
                    <span>Дата окончания: @Html.DisplayFor(modelItem => item.EndTime)</span>
                </div>
            </div>
            @if (item.Status.Name == "Закрыт")
            {
                <div class="cover"></div>
            }
        </a>
    </div>
}