﻿@model IEnumerable<Auction.Models.Category>
<h4><b>Выберите категорию</b></h4>
<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        <li>
            <p>@Ajax.ActionLink(item.Name, "ShowCategory", new { id = item.CategoryID, method = ViewBag.method, lotID = ViewBag.lotID }, new AjaxOptions { UpdateTargetId = "lot-create" })</p>
        </li>
    }
    @if (Model.First().ParentCategoryID != null)
    {
    <li>
        <p>@Ajax.ActionLink("Назад", "ShowCategory", new { id = ViewBag.ParentCategoryID, method = ViewBag.method, lotID = ViewBag.lotID }, new AjaxOptions { UpdateTargetId = "lot-create" }, new { @class = "gray" })</p>
    </li>
    }
</ul>

