﻿@model Auction.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="borders">
    <h3>@Html.DisplayFor(model => model.Login)</h3>
    @Html.DisplayFor(model => model.Email)
<span class="right gray">@Html.ActionLink("Редактировать", "Edit", new { id = Model.UserID })</span>
</div>
<div class="tabs">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
    <label for="tab-btn-1">Мои лоты</label>
    <input type="radio" name="tab-btn" id="tab-btn-3" value="">
    <label for="tab-btn-3">Покупки</label>

    <div id="content-1">
        <div id="lots">
            @Html.Action("LotsFind", "Lots", new { key = "user" })
        </div>
    </div>
    <div id="content-3">
        <div id="lots">
            @Html.Action("LotsFind", "Lots", new { key = "winner" })
        </div>
    </div>
</div>
