﻿@model Auction.Models.LoginModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "auth-form text-center" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal shadows">

        <h4 class="text-center">Вход</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label sr-only " for="Login">Логин</label>
            <div class="col-md-offset-1 col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Логин" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label sr-only" for="Password">Пароль</label>
            <div class="col-md-offset-1 col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Пароль" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Войти" class="btn btn-primary" />
                @Html.ActionLink("Зарегистрироваться", "Register")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
