﻿@model IEnumerable<Auction.Models.Category>

<ul>
    @foreach (var item in Model)
    {
    <li>
        @Ajax.ActionLink(item.Name, "CategoryList", new { id = item.CategoryID }, new AjaxOptions { UpdateTargetId = ViewBag.childs[item] })
        <div id="@item.CategoryID.ToString()"></div>
    </li>
    }
</ul>
