﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Аукцион";
}

<div class="row">
    <table>
        <tr>
            <th>ID</th>
            <th>Status</th>
        </tr>
        @foreach (var s in ViewBag.Status)
        {
            <tr>
                <td>@s.StatusID</td>
                <td>@s.Name</td>
            </tr>
        }
    </table>
</div>