﻿@model IEnumerable<Auction.Models.Comment>



@foreach (var item in Model) {
<div class="borders">

    <span class="gray">
        @Html.DisplayFor(modelItem => item.User.Login)
        @Html.DisplayFor(modelItem => item.CommentTime)
    </span>
        @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == item.User.Login)
        {
        <span class="right gray">@Ajax.ActionLink("Удалить", "Delete", new { id = item.CommentID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "comments" })</span>
        }
    <p>
        @Html.DisplayFor(modelItem => item.Text)
    </p>
</div>
}
