﻿@model Auction.Models.Comment


@Html.Action("Comments", "Comment", new { id = Model.LotID })


@using (Ajax.BeginForm("Create", "Comment", new AjaxOptions { UpdateTargetId = "comments" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-12">
        <hr />
        <span>Добавить комментарий</span>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-groups">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", rows = "5", value = "" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
        <div class="form-groups">
            @Html.HiddenFor(model => model.LotID)
            <input type="submit" value="Отправить" class="btn btn-primary" />
        </div>
    </div>
}